.contenido td {border:solid; }

input[type=text] {
    width: 100%;
    padding: 1px 2px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

input[type=password] {
    width: 100%;
    padding: 1px 2px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

input[type=text]:focus {
    background-color: lightblue;
}

input[type=password]:focus {
    background-color: lightblue;
}

#lateral {width: 20%; height: 70%; position: absolute; top: 15%; left: 0px;}
#cabecera {width: 100%; height: 15%; position: absolute; top: 0%; left: 0px;}
#cabecera img {width:20%; height: 100%;}
#pie {width: 100%;}
#cuerpo {width: 80%; height: 70%; position: absolute; top: 15%; left: 20%;}

label {
    display: inline-block;
    float: left;
    width: 600px;
}
