.affix {
  top: 0;
  width: 100%;
}

.affix + .container-fluid {
  padding-top: 70px;
}

.form-alumnos {
  padding-bottom: 10px;
}

.form-alumnos label {
  padding-top: 2px;
}

.bg-3 {
  background-color: #8BC34A;
  color: #000000;
  padding: 10px;
  margin-top: 0px;
}

.btn-success {
  border: 0px;
  background-color: #8BC34A;
  color: #000000;
}

a {
  color: #237906;
}

a:hover {
  color: #2a9108;
}

jumbotron {
  padding: 15px;
}

.graph {
  color: #40B300;
}

.bg-4 {
  background-color: #2f2f2f;
  color: #b0a79c;
  padding-top: 10px;
}

.form-control:focus {
  border-color: #4d9900;
}

.carousel-inner img {
  margin: auto;
}

.carousel-caption h3 {
  color: #fff !important;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
} 

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size: 12px    
}
#login-dp .bottom{
    background-color: rgba(255,255,255,.8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
@media(max-width: 768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

#toplogo {
  height: 80px;
}

#foot01 {
    margin-top: 10px;
}
/*
label {
    float: left;
    width: 475px;
    display: inline-block;
}

input[type=text] {
    float: right;
    display: inline-block;
    padding: 1px 20px;
    margin: 1px 20px;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

input[type=password] {
    float: right;
    display: inline-block;
    padding: 1px 1px;
    margin: 1px 1px;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

input {
    float: right;
    display: inline-block;
    outline: none;
}

input[type=text]:focus {
    background-color: lightblue;
}

input[type=password]:focus {
    background-color: lightblue;
}

*/